.title{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.section{
    margin-top: 15vh;
}
.content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 120%;
    height: 100%;
    line-height: 2.1rem;
    font-family: "Merriweather", serif;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 12px;
}

.aboutContainer{
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media(max-width: 1023px){
    .content{
        font-size: 100%;
    }
}