@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color-primary:#F98404;
    --color-primary--hover:#F9B208;
    --color-secondary: #FC5404;
    --color-terceary: #F7FD04;
    --color-black:#000000;
    --color-white:#ffffff;
    














}