*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    background: transparent;
    border: none;
    color: white;
}

input, select, textarea{
    background: transparent;
    border: none;
}

img{
    max-width: 100%;
}
body{
    color: var(--color-white);
    background-color: var(--color-black);
    scroll-behavior: smooth;
    
}

.swiper-button-next{
    color: var(--color-primary);
}
.swiper-button-prev{
    color: var(--color-primary);
}