.section{
    margin-top: 15vh;
}
.title{
    font-weight: 800;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
.techContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    height: 50vh;
}   
.ul{
    display: flex;
    flex-wrap: wrap;
    height: 70%;
    gap: 1rem;
    width: 100%;
}