.bannerContainer{
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

}
.top0{
    position: absolute;
    top: 0;
}
.bannerTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    height: 50%;
    min-width: 190px;
    gap: 1rem;
}
.user{
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 100%;
    color: #FC5404;
}
.title{
    font-weight: 800;
    line-height: 58px;
    font-size: 100%;
}
.imgContainer{
    height: 100%;
    width: 100%;
    max-width: 430px ;
    max-height: 430px;
    min-width: 255px;
    min-height: 255px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 430px;
    height: 430px;
    border-radius: 100%;
    object-fit:cover;
    
}
.divImg {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .divImg:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 101%;
    height: 101%;
    background: linear-gradient(60deg, #ee2f0d, #f05d0e, #fc3007, #fa4300, #f2a305,#f7b602,#ffde85);
    border-radius: 100%;
    z-index: -1 ;
    animation: animatedgradient 2.4s ease alternate infinite;
    background-size: 300% 300%;

  }
  
  @keyframes animatedgradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
.animatedtext{
    font-size: 2rem;
    font-weight: 600;
}
.animatedtext span{
    position: relative;
}
.animatedtext span::before{
    content: 'portfolio!';
    color: var(--color-primary--hover);
}
.animatedtext span::after{
    content: '';
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: 
    #08080a;
    
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cursor .8s infinite, typing 25s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid #ff7f5000;
    }
}
@keyframes words{
    0%,49%{
        content: Gustavo;
    }
    50%,100%{
        content: Programador;
    }
}
@keyframes typing {
    10%,15%,30%,50%,55%,60%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,65%,70%,80%,85%{
        width: calc(100% + 8px)
    }
}

.glow{
    position: relative;
    height: 100%;
    width: 100%;
    
}
.glow::before, .glow::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 100%;
    background: linear-gradient(60deg, #ee2f0d, #f05d0e, #fc3007, #fa4300, #f2a305,#f7b602,#ffde85);
    background-size: 300% 300%;
    height: 100%;
    max-width: 430px ;
    max-height: 430px;
    min-width: 255px;
    min-height: 255px;
    width: 100%;
    z-index: -1;
    animation: animate 2.4s linear infinite;
  }
  @keyframes animate {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  .glow::after {
    filter: blur(30px);
    opacity: .95
      
  }

.btn{
    color: white;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #FC5404;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    border-radius: 12px;

}

.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-primary--hover);
    z-index: -1;
    transition: .5s;
}
.btn:hover::before{
    width: 100%;
}
.btnprimary{
    color: var(--color-white);
    background-color: #FC5404;
    height: 39px;
    border-radius: 12px;
    max-width: 140px;
    width: 100%;
}
.dev{
    font-size: 1.2rem;
    font-weight: 800;
}
.nameContainer{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    
}
.buttonsContainer{
    width: 100%;
    display: flex;
    height: 15%;
    align-items: center;
    max-width: 480px;
    justify-content: space-between;
}

.imgLinkedin{
    height: 19px;
    width: 19px;
}

.socialContainer{
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}
.imgGit{
    height: 29px;
    width: 29px;
}

.btnsecondary{
    color: var(--color-white);
    background-color: #FC5404;
    height: 39px;
    border-radius:50%;
    max-width: 39px;
    width: 39px;

}
.btnsecondary{
    color: white;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #FC5404;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}
.btnsecondary::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-primary--hover);
    z-index: -1;
    transition: .5s;
}
.btnsecondary:hover::before{
    width: 100%;
}

@media(max-width: 1600px){
    .bannerTitle{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 35%;
        
        height: 50%;
        gap: 3rem;
    }
    
    .img{
        height: 100%;
        border-radius: 50%;
        width: 100%;
    }
    .divImg {
        position: relative;
        height: 100%;
        width: 100%;
        
      }
    .user{
        font-weight: 700;
        font-size: 3rem;
        line-height: 100%;
        color: #FC5404;
    }
    .dev{
        font-size: 1rem;
    }
    .animatedtext{
        font-size: 1.4rem;
        
    }
    .buttonsContainer{
        width: 86%;
        display: flex;
        height: 15%;
        align-items: center;
        max-width: 480px;
        justify-content: space-between;
    }
    
    .imgLinkedin{
        height: 19px;
        width: 19px;
    }
    
    .socialContainer{
        display: flex;
        justify-content: center;
        gap: 0.6rem;
    }
}
@media(max-width: 1535px){
    .bannerTitle{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 35%;
        
        height: 50%;
        gap: 1rem;
    }
    /* .imgContainer{
        width: 50%;
        height: 50%;
        
        
    } */
    .img{
        height: 100%;
        border-radius: 50%;
        width: 100%;
    }
    .divImg {
        position: relative;
        height: 100%;
        width: 100%;
        
      }
    .user{
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 100%;
        color: #FC5404;
    }
    .dev{
        font-size: 1rem;
    }
    .animatedtext{
        font-size: 1.4rem;
        
    }
    .buttonsContainer{
        width: 86%;
        display: flex;
        height: 15%;
        align-items: center;
        max-width: 480px;
        justify-content: space-between;
    }
    
    .imgLinkedin{
        height: 19px;
        width: 19px;
    }
    
    .socialContainer{
        display: flex;
        justify-content: center;
        gap: 0.6rem;
    }
}
@media (max-width:1280px){
    .user{
        font-weight: 700;
        font-size: 2rem;
        line-height: 100%;
        color: #FC5404;
    }
}
@media(max-width: 1023px){
    .bannerTitle{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 35%;
        height: 50%;
        gap: 0;
        
    }
    .bannerContainer{
        display: flex;
        height: 70vh;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .user{
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 100%;
        color: #FC5404;
    }
    /* .imgContainer{
        width: 50%;
        height: 50%;
        
        
    } */
    .dev{
        font-size: .825rem;
    }
    .animatedtext{
        font-size: 1rem;
        
    }
    .btnprimary{
        color: var(--color-white);
        background-color: #FC5404;
        height: 39px;
        border-radius: 12px;
        max-width: 90px;
        width: 100%;
    }
}

@media(max-width:767px){
    .divImg:after {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        
        width: 101%;
        height: 100%;
        background: linear-gradient(60deg, #ee2f0d, #f05d0e, #fc3007, #fa4300, #f2a305,#f7b602,#ffde85);
        border-radius: 100%;
        z-index: -1 ;
        animation: animatedgradient 2.4s ease alternate infinite;
        background-size: 300% 300%;
    
      }
    .bannerContainer{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .bannerTitle{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        width: 100%;
        align-items: center;
        height: 50%;
        min-width: 190px;
        gap: 1rem;
    }
    .user{
        font-weight: 700;
        font-size: 2.6rem;
        line-height: 100%;
        color: #FC5404;
    }
    
    /* .imgContainer{
        width: 50%;
        height: 50%;
        display: flex;
        align-items: flex-end;
        justify-content:flex-end;

    } */
    
    .divImg {
        position: relative;
        height: 100%;
        width: 100%;
        
      }
      .buttonsContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 15%;
        align-items: center;
        max-width: 480px;
        gap: 1rem;
    }
    
    .imgLinkedin{
        height: 19px;
        width: 19px;
    }
    
    .socialContainer{
        display: flex;
        justify-content: center;
        width: 25%;

        gap: 0.6rem;
    }
    .nameContainer{
        display: flex;
        align-items: center;
    }
    .animatedtext{
        font-size: 2.15rem;
        
    }
    .dev{
        font-size: 1rem;
    }
    
    .animatedtext{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .animatedtext span{
        position: relative;
    }
    .animatedtext span::before{
        content: 'portfolio!';
        color: var(--color-primary--hover);
    }
    .animatedtext span::after{
        content: 'portfolio!';
        width: calc(100% + 8px);
        height: 100%;
        background-color: transparent;
        animation:none;
        border-left: none;
        right: -8px;
        color: var(--color-primary--hover);
    }
    
}

@media(max-width:448px){
    .user{
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 100%;
        color: #FC5404;
        
    }
    .animatedtext{
        font-size: 1.2rem;
    }
    .socialContainer{
        display: flex;
        justify-content: center;
        width: 30%;

        gap: 0.6rem;
    }
}
@media(max-width:499px){
    .divImg:after {
        content: '';
        position: absolute;
        top: -3px;
        left: -2px;
        
        width: 101%;
        height: 101%;
        background: linear-gradient(60deg, #ee2f0d, #f05d0e, #fc3007, #fa4300, #f2a305,#f7b602,#ffde85);
        border-radius: 100%;
        z-index: -1 ;
        animation: animatedgradient 2.4s ease alternate infinite;
        background-size: 300% 300%;
    
      }
}

@media(max-width:405px){
    .user{
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 100%;
        color: #FC5404;
        
    }
    .animatedtext{
        font-size: 1.1rem;
    }
}
@media(max-width:376px){
    .user{
        font-size: 2rem;
        font-weight: 700;
        line-height: 100%;
        color: #FC5404;
        
    }
    .animatedtext{
        font-size: 1rem;
    }
}
