.li{
    width: 23.8%;
    border: 2px solid var(--color-primary--hover);
    height: 2%;
    display: flex;
    gap: 1.4rem;
    padding: 2rem 2rem;
    border-radius: 25px;
    align-items: center;
    background-color: #08080a;
}
.li {
    position: relative;
  }
  
  .li:after {
    content: '';
    position: absolute;
    top: calc(-1 * 3px);
    left: calc(-1 * 3px);
    height: calc(100% + 3px * 2);
    width: calc(100% + 3px * 2);
    background: linear-gradient(60deg, #ff2600, #ff6700, #fb7216, #d17b0c, #f29a17, #ffb701, #f9b30f, #ffbb00);
    border-radius: 25px;
    z-index: -1 ;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  @keyframes animatedgradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
.span{
    font-weight: 800;
    font-size: 130%;
}
.img{width: 16%;}