@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: transparent;  
    background: -webkit-linear-gradient(to left, #b25829, #f05d0e,#F9B208);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 20;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.circles li{
    position: absolute;
    list-style: none;
    width: 20px;
    height: 20px;
    background: -webkit-linear-gradient( #F7FD04,#F9B208,#F98404,#FC5404);  
    
    animation: animate 40s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 27%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 25px;
    height: 25px;
    animation-delay: 4s;
    
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 28s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 17s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 2s;
}

.circles li:nth-child(7){
    left: 17%;
    width: 150px;
    height: 150px;
    animation-delay: 2s;
    animation-duration: 23s;
}

.circles li:nth-child(8){
    left: 55%;
    width: 60px;
    height: 60px;
    animation-delay: 1s;
    animation-duration: 30s;
}

.circles li:nth-child(9){
    left: 46%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 20s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 28s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }

}
body {
  margin: 0;
  padding: 0;
}

.page__container {
  position: relative;
  z-index: 1; 
  background-color: 
  #08080a;
}

.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  pointer-events: none; 
  z-index: -1; 
}

.animated-background .area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
